.desktop-8-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 120px;
  min-height: 120px;
  max-width: 100%;
}
.home7 {
  position: absolute;
  top: 43px;
  left: 300px;
  color: var(--color-white);
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.supersuper-logo-1-icon6 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 119px;
  height: 119px;
  object-fit: cover;
}
.desktop-8-item {
  position: absolute;
  top: 25px;
  left: 804px;
  width: 413px;
  height: 70px;
}
.search7 {
  position: absolute;
  top: 41px;
  left: 865px;
  font-size: var(--font-size-9xl-7);
  color: var(--color-dimgray);
  display: inline-block;
  height: 28px;
}
.vector-icon9 {
  position: absolute;
  height: 3.25%;
  width: 2.32%;
  top: 4%;
  right: 40.87%;
  bottom: 92.74%;
  left: 56.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-l {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-silver);
}
.loginrectangle-icon {
  position: absolute;
  height: 38.75%;
  width: 50%;
  top: 28.75%;
  right: 25%;
  bottom: 32.5%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-l-parent {
  position: absolute;
  top: 20px;
  left: 1245px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.logocontainer-icon {
  position: absolute;
  height: 3.03%;
  width: 2.78%;
  top: 4.2%;
  right: 9.38%;
  bottom: 92.77%;
  left: 87.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.supersuperlogo {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50.79px;
  background-color: var(--color-silver);
}
.login-1-icon13 {
  position: absolute;
  width: calc(100% - 28px);
  top: 9px;
  right: 14px;
  left: 14px;
  max-width: 100%;
  overflow: hidden;
  height: 61px;
  object-fit: cover;
  cursor: pointer;
}
.supersuperlogo-parent {
  width: 100%;
  position: absolute;
  top: 21px;
  left: 1339px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 80px;
}
.desktop-8-inner {
  position: absolute;
  top: 30px;
  left: 416px;
  background-color: var(--color-gray-100);
  width: 194px;
  height: 65px;
}
.history8,
.models8 {
  position: absolute;
  top: 43px;
  color: var(--color-white);
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.models8 {
  left: 446px;
  cursor: pointer;
}
.history8 {
  left: 630px;
}
.rectangle-section {
  position: absolute;
  top: 120px;
  left: 0;
  background-color: var(--color-lightsalmon);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1440px;
  height: 80px;
  max-width: 100%;
}
.current-models4 {
  margin: 0;
  position: absolute;
  top: 131px;
  left: 94px;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.right-1-icon7 {
  position: absolute;
  height: 5.47%;
  width: 3.89%;
  top: 12.99%;
  right: 93.89%;
  bottom: 81.54%;
  left: 2.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imagecontainer-icon {
  position: absolute;
  height: calc(100% - 184px);
  top: 131px;
  bottom: 53px;
  left: 1071px;
  max-height: 100%;
  width: 508px;
  object-fit: contain;
}
.blank-line {
  margin: 0;
}
.base-price-us275000,
.engine-52l-nat-aspirated,
.power-631-hp,
.torque-417-lb-ft {
  margin-bottom: 0;
}
.base-price-us275000-engine {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-24xl);
}
.base-price-us275000-engine-container {
  position: absolute;
  top: 298px;
  left: 482px;
  display: inline-block;
  width: 549px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.lamborghini-huracn-tecnica {
  position: absolute;
  top: 225px;
  left: 60px;
  font-size: var(--font-size-21xl);
  text-decoration: underline;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
}
.base-price-us331100,
.engine-52l-nat-aspirated1,
.mph-26-seconds,
.power-631-hp1,
.torque-417-lb-ft1 {
  margin-bottom: 0;
}
.base-price-us331100-engine {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-24xl);
}
.base-price-us331100-engine-container {
  position: absolute;
  top: 687px;
  left: 42px;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.image-3-icon,
.image-4-icon {
  position: absolute;
  object-fit: cover;
}
.image-3-icon {
  width: 100%;
  height: 100%;
  top: 302px;
  left: 60px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image-4-icon {
  top: 646px;
  left: 720px;
  width: 378.6px;
  height: 290px;
}
.lamborghini-huracn-sto {
  position: absolute;
  top: 567px;
  left: 593px;
  font-size: var(--font-size-21xl);
  text-decoration: underline;
  font-weight: 600;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro);
}
.right-7-icon2 {
  position: absolute;
  height: 93.33%;
  width: calc(100% - 4px);
  top: 6.67%;
  right: 2px;
  bottom: 0;
  left: 2px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.container-parent {
  position: absolute;
  top: 946px;
  left: 638px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.desktop-8 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 750px) {
  .base-price-us275000-engine-container {
    font-size: var(--font-size-7xl);
  }
  .lamborghini-huracn-tecnica {
    font-size: var(--font-size-13xl);
  }
  .base-price-us331100-engine-container {
    font-size: var(--font-size-7xl);
  }
  .lamborghini-huracn-sto {
    font-size: var(--font-size-13xl);
  }
}
@media screen and (max-width: 450px) {
  .base-price-us275000-engine-container {
    font-size: var(--font-size-lgi);
  }
  .lamborghini-huracn-tecnica {
    font-size: var(--font-size-5xl);
  }
  .base-price-us331100-engine-container {
    font-size: var(--font-size-lgi);
  }
  .lamborghini-huracn-sto {
    font-size: var(--font-size-5xl);
  }
}
