.desktop-1-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 120px;
}
.desktop-1-item,
.search4 {
  position: absolute;
  top: 25px;
  left: 804px;
  width: 413px;
  height: 70px;
}
.search4 {
  top: 41px;
  left: 865px;
  font-size: var(--font-size-9xl-7);
  color: var(--color-dimgray);
  display: inline-block;
  width: 93.4px;
  height: 28px;
}
.arrow-vector-icon {
  position: absolute;
  height: 3.25%;
  width: 2.32%;
  top: 4%;
  right: 40.87%;
  bottom: 92.74%;
  left: 56.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.divider-line {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-silver);
}
.mode-frame-icon {
  position: absolute;
  height: 38.75%;
  width: 50%;
  top: 28.75%;
  right: 25%;
  bottom: 32.5%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.divider-line-parent {
  position: absolute;
  top: 20px;
  left: 1245px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.component-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50.79px;
  background-color: var(--color-silver);
}
.login-1-icon8 {
  position: absolute;
  width: calc(100% - 28px);
  top: 9px;
  right: 14px;
  left: 14px;
  max-width: 100%;
  overflow: hidden;
  height: 61px;
  object-fit: cover;
  cursor: pointer;
}
.rectangle-parent5 {
  position: absolute;
  top: 21px;
  left: 1339px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 80px;
  height: 80px;
}
.polygon-shape-icon1,
.revuelto-1-icon4 {
  position: absolute;
  top: 120px;
  left: 0;
  width: 1440px;
  height: 680px;
  object-fit: cover;
}
.polygon-shape-icon1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0;
  transform: scale(1.18);
}
.wrapper-polygon-shape1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-1-icon4 {
  position: absolute;
  height: 62.22%;
  width: 62.22%;
  top: 18.89%;
  right: 18.89%;
  bottom: 18.89%;
  left: 18.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.dream-car-chooser1 {
  position: absolute;
  top: 435px;
  left: 25px;
  backdrop-filter: blur(4px);
  width: 90px;
  height: 90px;
}
.wrapper-line-1-child1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.094);
}
.wrapper-line-14 {
  position: absolute;
  top: 714px;
  left: 200px;
  width: 85.5px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-line-2-child2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.094);
}
.wrapper-line-24 {
  position: absolute;
  top: 714px;
  left: 328px;
  width: 85.5px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-line-3-child2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.094);
}
.wrapper-line-34 {
  position: absolute;
  top: 714px;
  left: 453px;
  width: 85.5px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choose4 {
  margin: 0;
}
.your-dream-car4 {
  margin: 0;
  font-size: var(--font-size-29xl);
}
.choose-your-dream-container4 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
  backdrop-filter: blur(4px);
}
.choose-your-dream-car4 {
  position: absolute;
  top: 215px;
  left: 200px;
  backdrop-filter: blur(4px);
  width: 471px;
  height: 155px;
  font-size: var(--font-size-109xl);
  font-family: var(--font-neue-haas-grotesk-text-pro);
}
.supersuper-logo-1-icon3 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 119px;
  height: 119px;
  object-fit: cover;
}
.models4 {
  margin: 0;
  position: absolute;
  top: 1267px;
  left: 2051px;
  font-size: var(--font-size-13xl);
  font-weight: 400;
  font-family: inherit;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-rectangle1 {
  position: absolute;
  top: 30px;
  left: 257px;
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 137px;
  height: 61px;
}
.history5,
.home4,
.models5 {
  margin: 0;
  position: absolute;
  top: 43px;
  font-size: var(--font-size-13xl);
  font-weight: 400;
  font-family: inherit;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.models5 {
  left: 445px;
  cursor: pointer;
}
.history5,
.home4 {
  left: 275px;
}
.history5 {
  left: 631px;
}
.copyright-message {
  position: absolute;
  top: 800px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 1440px;
  height: 224px;
}
.discord-new-icon5,
.facebook-icon5,
.instagram-icon5,
.twitterx-icon5,
.wechat-icon5 {
  position: absolute;
  top: 820px;
  left: 1255px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.discord-new-icon5,
.facebook-icon5,
.instagram-icon5,
.wechat-icon5 {
  left: 1171px;
}
.discord-new-icon5,
.instagram-icon5,
.wechat-icon5 {
  left: 1339px;
}
.instagram-icon5,
.wechat-icon5 {
  left: 1087px;
}
.instagram-icon5 {
  left: 1003px;
}
.all-rights-reserved4,
.copyright-20244 {
  margin: 0;
}
.copyright-2024-container4 {
  position: absolute;
  top: 956px;
  left: 20px;
}
.span12 {
  color: var(--color-black);
}
.company9 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.company8 {
  position: absolute;
  top: 827px;
  left: 20px;
}
.sitemap9 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.sitemap8 {
  position: absolute;
  top: 871px;
  left: 662px;
}
.accessibility9 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.accessibility8 {
  position: absolute;
  top: 873px;
  left: 457px;
}
.cookie-settings10 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.cookie-settings9 {
  position: absolute;
  top: 873px;
  left: 234px;
}
.privacy-legal4 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.privacy-legal-container4 {
  position: absolute;
  top: 871px;
  left: 20px;
}
.media-center9 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.media-center8 {
  position: absolute;
  top: 827px;
  left: 662px;
}
.sustainability9 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.sustainability8 {
  position: absolute;
  top: 827px;
  left: 455px;
}
.span13 {
  color: var(--color-black);
}
.careear9 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.careear8 {
  position: absolute;
  top: 827px;
  left: 316px;
}
.span14 {
  color: var(--color-black);
}
.financial10 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.financial9 {
  position: absolute;
  top: 827px;
  left: 166px;
}
.desktop-1 {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
